body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #4633d8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(152, 173, 203);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
    
  /* Style the heading */
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Style the paragraph text */
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Style the author text */
  .author {
    font-style: italic;
    font-size: 14px;
    margin-top: 20px;
  }
  
  /* Style the outer image */
  .image-container {
    position: relative;
    margin-bottom: 10px;
  }
  
  .image-container img {
    width: 400%;
    height: 100;
    display: block;
    margin: 20 px auto;
    max-width: 100%;
    
    
  }
  
  /* Style the inner image */
  .inner-image {
    position: overlap;
    top: 0.1%;
    left: 50%;
    width: 40%;
    height: 0.02;
    size-adjust: 100;
  }
 
  
  
  
  